In [1]:
import pandas as pd
import numpy as np

In [29]:
# get all data
deaths=pd.read_csv('deaths.csv')
populations=pd.read_csv('CountyPopulations.csv')

## FLORIDA

In [30]:
names={' LA':'Louisiana', ' ID':'Idaho', ' CO':'Colorado', ' IL':'Illinois', ' OH':'Ohio' ,' PA':'Pennsylvania', ' SC':'South Carolina', ' FL':'Florida', ' NC':'North Carolina',
       ' CA':'California', ' NY':'New York', ' VA':'Virginia', ' MI':'Michigan', ' MD':'Maryland', ' IN':'Indiana', ' AK':'Alaska', ' TN':'Tennessee', ' TX':'Texas',
       ' ME':'Maine', ' MN':'Minnesota', ' NJ':'New Jersey', ' AL':'Alabama', ' MA':'Massachusetts', ' GA':'Georgia', ' KY':'Kentucky', ' NH':'New Hampshire', ' AR':'Arkansas',
       ' WA':'Washington', ' WV':'West Virginia', ' NM':'New Mexico', ' MO':'Missouri', ' RI':'Rhode Island', ' WI':'Wisconsin', ' OK':'Oklahoma', ' KS':'Kansas', ' UT':'Utah',
       ' NV':'Nevada', ' MT':'Montana', ' ND':'North Dakota', ' VT':'Vermont', ' OR':'Oregon', ' AZ':'Arizona', ' MS':'Mississippi', ' DC':'District of Columbia', ' NE':'Nebraska',
       ' CT':'Connecticut', ' WY':'Wyoming', ' HI':'Hawaii', ' IA':'Iowa', ' DE':'Delaware', ' SD':'South Dakota'}

In [31]:
#fix deaths state
state = deaths["State"].apply(lambda x: x.replace(x, names[x]))
deaths["State"] = state
deaths['Year']=deaths['Year'].astype('int64')
populations['County']=[i.split(' County')[0] for i in populations.County]
deaths=deaths[deaths.State!='Alaska']

In [36]:
lol=[]
for i in [i.split(' County') for i in deaths.County]:
    if len(i)==1:
        for j in i:
            lol.append(j)
    else:
        lol.append(i[0])
deaths['County']=lol #removing the word county in column
name={'Dona Ana':'Do√±a Ana', 'La Porte':'LaPorte', 'Mc Kean':'McKean'}
deaths['County']=[name[i] if i in name.keys() else i for i in deaths['County']]

In [37]:
fldeaths = deaths[deaths.State == "Florida"][["State", "County", "Year", "Deaths"]]

flcounties = [ #67 counties  def not the best way to do this lol
    "Alachua",
    "Baker",
    "Bay",
    "Bradford",
    "Brevard",
    "Broward",
    "Calhoun",
    "Charlotte",
    "Citrus",
    "Clay",
    "Collier",
    "Columbia",
    "DeSoto",
    "Dixie",
    "Duval",
    "Escambia",
    "Flagler",
    "Franklin",
    "Gadsden",
    "Gilchrist",
    "Glades",
    "Gulf",
    "Hamilton",
    "Hardee",
    "Hendry",
    "Hernando",
    "Highlands",
    "Hillsborough",
    "Holmes",
    "Indian River",
    "Jackson",
    "Jefferson",
    "Lafayette",
    "Lake",
    "Lee",
    "Leon",
    "Levy",
    "Liberty",
    "Madison",
    "Manatee",
    "Marion",
    "Martin",
    "Miami-Dade",
    "Monroe",
    "Nassau",
    "Okaloosa",
    "Okeechobee",
    "Orange",
    "Osceola",
    "Palm Beach",
    "Pasco",
    "Pinellas",
    "Polk",
    "Putnam",
    "St. Johns",
    "St. Lucie",
    "Santa Rosa",
    "Sarasota",
    "Seminole",
    "Sumter",
    "Suwannee",
    "Taylor",
    "Union",
    "Volusia",
    "Wakulla",
    "Walton",
    "Washington",
]
missing = []
for j in range(2003, 2016):
    for i in flcounties:
        if i not in [
            l for l in fldeaths[(fldeaths.County == i) & (fldeaths.Year == j)]["County"]
        ]:
            missing.append(
                ["Florida", i, j, np.nan]
            )  # giving NA for the ones with no drugs stuff
missing_dataframe = pd.DataFrame(missing, columns=["State", "County", "Year", "Deaths"])
updated_deaths = pd.concat([fldeaths, missing_dataframe], axis=0)
updated_deaths["Treatment"] = "Treatment"
updated_deaths.groupby(["Year"])[
    "County"
].count()  # double checking that all florida counties are included

Year
2003    67
2004    67
2005    67
2006    67
2007    67
2008    67
2009    67
2010    67
2011    67
2012    67
2013    67
2014    67
2015    67
Name: County, dtype: int64

## Texas

In [38]:
Txdeaths = deaths[deaths.State == "Texas"][["State", "County", "Year", "Deaths"]]
Txcounties=populations[populations.State=='Texas']['County'].unique() #254 counties
missing = []
for j in range(2003, 2016):
    for i in Txcounties:
        if i not in [
            l for l in Txdeaths[(Txdeaths.County == i) & (Txdeaths.Year == j)]["County"]
        ]:
            missing.append(
                ["Texas", i, j, np.nan]
            )  # giving NA for the ones with no drugs stuff
missing_dataframe = pd.DataFrame(missing, columns=["State", "County", "Year", "Deaths"])
updated_Tx = pd.concat([Txdeaths, missing_dataframe], axis=0)
updated_Tx["Treatment"] = "Treatment"
updated_Tx.groupby(["Year"])[
    "County"
].count()  # double checking that all Texas counties are included

Year
2003    254
2004    254
2005    254
2006    254
2007    254
2008    254
2009    254
2010    254
2011    254
2012    254
2013    254
2014    254
2015    254
Name: County, dtype: int64

## Washington

In [39]:
Wadeaths = deaths[deaths.State == "Washington"][["State", "County", "Year", "Deaths"]]
Wacounties=populations[populations.State=='Washington']['County'].unique() #39 counties
missing = []
for j in range(2003, 2016):
    for i in Wacounties:
        if i not in [
            l for l in Wadeaths[(Wadeaths.County == i) & (Wadeaths.Year == j)]["County"]
        ]:
            missing.append(
                ["Washington", i, j, np.nan]
            )  # giving NA for the ones with no drugs stuff
missing_dataframe = pd.DataFrame(missing, columns=["State", "County", "Year", "Deaths"])
updated_Wa = pd.concat([Wadeaths, missing_dataframe], axis=0)
updated_Wa["Treatment"] = "Treatment"
updated_Wa.groupby(["Year"])[
    "County"
].count()  # double checking that all Texas counties are included

Year
2003    39
2004    39
2005    39
2006    39
2007    39
2008    39
2009    39
2010    39
2011    39
2012    39
2013    39
2014    39
2015    39
Name: County, dtype: int64

In [40]:
treat_updated=pd.concat([updated_deaths,updated_Tx,updated_Wa],axis=0) #confirmed that the number of rows match expected counties
treat_updated

          State       County  Year Deaths  Treatment
52      Florida      Alachua  2003   11.0  Treatment
53      Florida      Alachua  2007   17.0  Treatment
54      Florida      Alachua  2009   15.0  Treatment
55      Florida      Alachua  2010   15.0  Treatment
56      Florida      Alachua  2011   14.0  Treatment
..          ...          ...   ...    ...        ...
304  Washington     Skamania  2015    NaN  Treatment
305  Washington      Stevens  2015    NaN  Treatment
306  Washington    Wahkiakum  2015    NaN  Treatment
307  Washington  Walla Walla  2015    NaN  Treatment
308  Washington      Whitman  2015    NaN  Treatment

[4680 rows x 5 columns]

In [41]:
treat_updated=treat_updated[treat_updated.Year>=2006]
merge_deaths=pd.merge(treat_updated,populations,on=['State','County','Year'],how='left',validate="1:1",indicator=True) #validated
merge_deaths[merge_deaths['_merge']!='both'] # everything merged right

Empty DataFrame
Columns: [State, County, Year, Deaths, Treatment, Unnamed: 0, Population, _merge]
Index: []

## Dealing with County NAs without Deaths info!

In [42]:
merge_deaths[merge_deaths.isnull().any(axis=1)].head()

       State    County  Year Deaths  Treatment  Unnamed: 0  Population _merge
357  Florida   Alachua  2006    NaN  Treatment         319    237199.0   both
358  Florida     Baker  2006    NaN  Treatment         320     25021.0   both
359  Florida  Bradford  2006    NaN  Treatment         322     28610.0   both
360  Florida   Calhoun  2006    NaN  Treatment         325     13394.0   both
361  Florida  Columbia  2006    NaN  Treatment         330     66975.0   both

In [43]:
missing=[]
for i in merge_deaths["Deaths"]:
    if pd.isna(i):
        missing.append(np.random.randint(0,10)) #giving random number between 0 and 10
    else:
        missing.append(i)
merge_deaths['Deaths']=missing#merge_deaths.loc[merge_deaths['Deaths'].notna(),]
merge_deaths['death_prop']=merge_deaths['Deaths'].astype('float64')/merge_deaths['Population']

In [44]:
merge_deaths[merge_deaths.isnull().any(axis=1)]  #This confirms that there is now no deaths NA's in Texas,Washington and Florida

Empty DataFrame
Columns: [State, County, Year, Deaths, Treatment, Unnamed: 0, Population, _merge, death_prop]
Index: []

In [45]:
merge_deaths.head()

,State,County,Year,Deaths,Treatment,Unnamed: 0,Population,_merge,death_prop
0,Florida,Alachua,2007,17.0,Treatment,3461,240196.0,both,0.000071
1,Florida,Alachua,2009,15.0,Treatment,9745,243574.0,both,0.000062
2,Florida,Alachua,2010,15.0,Treatment,12887,247336.0,both,0.000061
3,Florida,Alachua,2011,14.0,Treatment,16029,249688.0,both,0.000056
4,Florida,Alachua,2012,14.0,Treatment,19171,251669.0,both,0.000056

## The rest of the country

In [48]:
rest_deaths=deaths.loc[~deaths['State'].isin(['Washington','Texas','Florida']),]
rest_deaths=rest_deaths[rest_deaths.Year>=2006]
restmerge=pd.merge(rest_deaths,populations,on=['State','County','Year'],how='left',indicator=True)
restmerge[restmerge['_merge']!='both']#'County'].unique()

,County,County Code,Year,Deaths,State,Unnamed: 0,Population,_merge
1084,Clifton Forge city,51560.0,2015,MissingMissingMissingMissing,Virginia,NaN,NaN,left_only
1411,District of Columbia,11001.0,2006,113.0,District of Columbia,NaN,NaN,left_only
1412,District of Columbia,11001.0,2007,90.0,District of Columbia,NaN,NaN,left_only
1413,District of Columbia,11001.0,2008,69.0,District of Columbia,NaN,NaN,left_only
1414,District of Columbia,11001.0,2009,56.0,District of Columbia,NaN,NaN,left_only
1415,District of Columbia,11001.0,2010,83.0,District of Columbia,NaN,NaN,left_only
1416,District of Columbia,11001.0,2011,79.0,District of Columbia,NaN,NaN,left_only
1417,District of Columbia,11001.0,2012,71.0,District of Columbia,NaN,NaN,left_only
1418,District of Columbia,11001.0,2013,112.0,District of Columbia,NaN,NaN,left_only
1419,District of Columbia,11001.0,2014,90.0,District of Columbia,NaN,NaN,left_only
1420,District of Columbia,11001.0,2015,114,District of Columbia,NaN,NaN,left_only

In [50]:
restmerge=restmerge.loc[restmerge['Deaths']!='MissingMissingMissingMissing',].copy()
restmerge['Treatment']='Control'
restmerge['death_prop']=restmerge['Deaths'].astype('float64')/restmerge['Population']
restmerge=restmerge[['State','County','Year','Deaths','Population','death_prop','Treatment','_merge']]

In [51]:
restmerge[restmerge.isnull().any(axis=1)] #only District columbia left we can deal with it later

,State,County,Year,Deaths,Population,death_prop,Treatment,_merge
1411,District of Columbia,District of Columbia,2006,113.0,NaN,NaN,Control,left_only
1412,District of Columbia,District of Columbia,2007,90.0,NaN,NaN,Control,left_only
1413,District of Columbia,District of Columbia,2008,69.0,NaN,NaN,Control,left_only
1414,District of Columbia,District of Columbia,2009,56.0,NaN,NaN,Control,left_only
1415,District of Columbia,District of Columbia,2010,83.0,NaN,NaN,Control,left_only
1416,District of Columbia,District of Columbia,2011,79.0,NaN,NaN,Control,left_only
1417,District of Columbia,District of Columbia,2012,71.0,NaN,NaN,Control,left_only
1418,District of Columbia,District of Columbia,2013,112.0,NaN,NaN,Control,left_only
1419,District of Columbia,District of Columbia,2014,90.0,NaN,NaN,Control,left_only
1420,District of Columbia,District of Columbia,2015,114,NaN,NaN,Control,left_only

In [58]:
deaths_pop=pd.concat([merge_deaths,restmerge],axis=0)
final=deaths_pop[['State','County','Year','Deaths','Population','Treatment','death_prop','_merge']].to_csv('deaths-pop-merge.csv')